In [15]:
import numpy as np
import pickle
import pandas as pd

In [16]:
cluster = pd.read_csv("classify_id.csv", index_col=0)
cluster

,Author,aid,Rating,Helpful count
clustr_id,,,,
0,"Ben Madeley,Aryandev Baudha,R W,John Common,Jo...","0,0,0,0,1,1,10,10,10,11,12,12,12,13,13,13,13,1...","4,5,5,4,3,5,5,5,5,5,4,4,4,5,4,5,5,5,5,5,5,5,5,...","1,1,0,0,0,1,0,3,1,0,0,1,0,1,0,0,0,0,2,1,0,0,0,..."
1,"Walter Sauter,Erine Taguchi,チェルトナム,S. McMahon,...","0,0,1,10,10,11,13,13,13,13,13,14,14,14,15,15,1...","1,5,5,5,5,5,3,4,5,4,4,5,5,4,5,5,5,5,5,4,5,5,4,...","0,1,4,0,4,7,0,1,0,0,0,1,0,1,0,1,2,0,3,0,3,2,0,..."
2,"Tran Ngoc Phan,Kai Jacobson,Lez,gerardo espino...","0,0,1,12,12,14,16,16,16,16,17,17,17,17,17,17,1...","5,5,5,4,5,5,5,5,5,5,5,5,5,5,5,5,5,4,5,5,4,5,4,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,..."
3,"山口裕一,P P,舞の宮,カワチシゲオ,Jituei Kobashi,Robert T,やま...","1,1,12,2,24,30,39,42,42,42,45,49,70,74,84","4,1,5,4,2,3,4,1,4,5,5,5,5,4,5","10,22,0,1,18,17,3,14,3,9,2,1,1,1,2"
4,"Tan Ngiap Tong,Michele Formica,N Ang,gigi fant...","0,0,0,0,1,10,10,10,12,14,14,15,15,15,16,16,16,...","4,4,5,4,4,5,3,5,5,5,4,5,5,5,4,5,5,5,5,5,5,3,5,...","1,5,0,0,0,0,0,0,1,0,0,2,0,0,0,1,0,0,0,0,1,0,0,..."
...,...,...,...,...
95,"jeremy jong,Hesham Zakaria,Tan Jia Thiam,Bec X...","14,14,16,17,17,17,2,20,22,26,26,28,29,32,32,33...","5,4,5,5,5,5,4,5,3,5,5,5,5,5,3,5,5,5,4,4,5,5,5,...","0,0,1,0,0,1,0,0,0,0,0,0,2,0,0,1,0,0,0,0,0,0,1,..."
96,"Quendi Cala,南形浩,藏本徳次,AL AL,Liang Hermit,Rocket...","0,12,12,15,2,20,22,27,29,29,29,3,31,31,32,34,3...","2,3,5,4,5,5,3,5,5,4,5,5,4,5,3,5,4,4,5,4,4,5,5,...","1,4,0,1,6,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,2,2,10..."
97,"RK Hill,Seth Daly,Melisa Abuin,DongMin Kim,蔡金峯...","0,1,10,12,12,12,16,18,18,18,19,19,20,21,21,26,...","3,5,5,5,5,5,5,5,4,3,4,5,5,4,5,4,4,4,4,4,5,4,4,...","1,0,0,0,0,0,0,0,0,1,0,0,0,0,2,0,0,0,0,0,1,0,0,..."
98,"Mustafa Kulle,Joseph Oliver,松岡正彦,44 Kazu,Kyle ...","0,1,1,1,10,11,12,12,12,12,12,12,15,17,19,2,2,2...","5,5,3,4,5,5,4,5,4,4,5,5,5,5,4,5,4,4,4,5,4,3,4,...","1,0,4,0,0,4,8,5,0,0,0,0,2,0,3,2,0,0,4,1,5,0,0,..."
99,"Kacho Bee,MDaneel Olivaw,Kokisan","11,23,23","5,4,5","1,1,1"

In [17]:
trj = pd.read_csv("classify_latest.csv")
trj = trj.sort_values(['clustr_id', 'Date'])
trj

,Author,Date,Rating,Helpful count,Review,Picture included,Language,(view source),tensor,aid,clustr_id,vec_2d
3204,ann tsai,2013-06-17 15:09:49,5,0,Good,no,NaN,view review,"tensor([[ 2.0482e-01, 3.3107e-01, 1.0315e+00...",39,0,"['2.0482e-01', ' 3.3107e-01', ' 1.0315e+00',..."
2104,Satoru Sato,2013-09-02 14:11:36,3,0,NaN,no,NaN,view review,"tensor([[ 2.0871e-01, 3.2975e-01, 1.0317e+00...",29,0,"['2.0871e-01', ' 3.2975e-01', ' 1.0317e+00',..."
4809,Patrick KalonjiTV,2014-08-09 03:54:44,5,0,Wow,no,NaN,view review,"tensor([[ 2.1687e-01, 3.2893e-01, 1.0362e+00...",53,0,"['2.1687e-01', ' 3.2893e-01', ' 1.0362e+00',..."
4810,Tú NguyễnNgoc,2015-02-26 11:18:57,5,0,My Dream,no,NaN,view review,"tensor([[ 2.0344e-01, 3.3022e-01, 1.0196e+00...",53,0,"['2.0344e-01', ' 3.3022e-01', ' 1.0196e+00',..."
1103,Chan mun kay,2015-04-16 06:58:29,4,0,Thanks,no,NaN,view review,"tensor([[ 2.1265e-01, 3.2680e-01, 1.0406e+00...",19,0,"['2.1265e-01', ' 3.2680e-01', ' 1.0406e+00',..."
...,...,...,...,...,...,...,...,...,...,...,...,...
4902,N,2023-05-30 15:24:51,5,0,"If you walk east from Demachiyanagi, you will...",yes,Japanese,view review,"tensor([[ 2.0703e-01, -4.1640e-02, 6.2501e-01...",53,99,"['2.0703e-01', ' -4.1640e-02', ' 6.2501e-01',..."
6702,えーちゃん2,2023-06-01 08:26:36,4,0,I visited Honen Shonin's 25 sacred grounds. I...,yes,Japanese,view review,"tensor([[ 2.0904e-01, 3.8601e-02, 5.7566e-01...",7,99,"['2.0904e-01', ' 3.8601e-02', ' 5.7566e-01',..."
2603,時々旅人,2023-06-04 08:17:14,5,1,It is a shrine near Kitano Tenmangu Shrine. I...,yes,Japanese,view review,"tensor([[ 2.0541e-01, 6.3483e-03, 6.2157e-01...",32,99,"['2.0541e-01', ' 6.3483e-03', ' 6.2157e-01',..."
8402,美藤研一,2023-06-10 22:05:13,5,0,I have been to the Hydrangea garden every yea...,yes,Japanese,view review,"tensor([[ 1.8021e-01, 5.9837e-02, 6.9239e-01...",85,99,"['1.8021e-01', ' 5.9837e-02', ' 6.9239e-01',..."
6602,Jack L,2023-06-13 11:34:47,5,0,Another must visit for any visit to Kyoto. The...,yes,NaN,view review,"tensor([[ 2.3856e-01, 5.6699e-02, 6.5816e-01...",69,99,"['2.3856e-01', ' 5.6699e-02', ' 6.5816e-01',..."

In [23]:
X = np.zeros((100,91))

uid_list = cluster.index.tolist()
cnt_list = [0] * 91

for aid in trj['aid'].values.tolist():
    cnt_list[aid] += 1

# cnt_list
aoi_list = cluster['aid'].values.tolist()
# aoi_list
for i in range(0, len(uid_list)):
    trj_list = aoi_list[i].split(',')
    for j in range(0,len(trj_list)):
        X[i][int(trj_list[j])] += 1

for i in range(0,100):
    for j in range(0,91):
        X[i][j] /= cnt_list[j]
        X[i][j] *=100
X

array([[4., 2., 0., ..., 0., 1., 6.],
       [2., 1., 2., ..., 1., 1., 0.],
       [2., 1., 2., ..., 0., 0., 0.],
       ...,
       [1., 1., 0., ..., 3., 3., 2.],
       [1., 3., 2., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [11]:
# check 0
for i in range(0,100):
    sum = 0
    for j in range(0,91):
        sum += X[i][j]
    if sum == 0:
        print("empty line!")

In [12]:
with open('X_Gmap.plk', '+bw') as f:
    pickle.dump(X, f)

In [14]:
with open('X_Gmap.plk','rb') as f:
    X2 = pickle.load(f)
X2

array([[4., 2., 0., ..., 0., 1., 6.],
       [2., 1., 2., ..., 1., 1., 0.],
       [2., 1., 2., ..., 0., 0., 0.],
       ...,
       [1., 1., 0., ..., 3., 3., 2.],
       [1., 3., 2., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])